body {
    background-color: rgb(33, 28, 132);
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Lexend Deca";
    color: rgb(232, 232, 232);
    text-align: left;
    line-height: 60px;
    font-size: 50px;

    margin: 0;
    padding: 0;
}

h1.page-header {
    margin: 0;
    padding: 0;
}

.largeTextTitle {
    font-size: 55px;
}

p {
    margin-top: 10px;
    font-family: "Inter";
    color: rgb(181, 168, 213);
    text-wrap: wrap;
}

.formattedDiv {
    margin-top: 10px;
    font-family: "Inter";
    color: rgb(181, 168, 213);
    text-wrap: wrap;
}

.removeLineSpacing {
    margin-bottom: 0;
    margin-left: 3px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.mainTextContainer {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    padding-left: 25%;
}

.customLink {
    color: rgb(170, 175, 236);
    text-decoration: none;
    text-wrap: wrap;
    font-family: "Raleway";
    text-align: center;
    font-size: clamp(12px, 2vw, 20px);
    font-weight: 400;
}

.customLink:hover {
    color: rgb(92, 101, 205);
}

.mainButtonsContainer {
    display: flex;
    justify-content: flex-start;
    padding-left: 25%;
    gap: 10px;
}

.mainButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid rgb(170, 175, 236);
    height: 6.5vh;
    width: 12vw;

    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 7px rgba(23, 19, 105, 0.434);
}

.titleDifferentColour {
    color: rgb(122, 115, 209);
    text-shadow: 0px 0px 5px rgba(181, 168, 213, 0.18);
}

.codeImageDiv {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.codeImage {
    opacity: 0.65;
    transform: scale(0.633);
    transform-origin: top left; /* Makes it scale from the top-left */
}

.navbarContainer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: fit-content;
    right: 0;
    background-color: rgb(32, 27, 131);
    border: 1px solid rgb(170, 175, 236);
    border-top: none;
    border-right: none;
    padding-left: 15px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(23, 19, 105, 0.598);
    gap: 15px
}

.navbarButton {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    border-right: 1.5px solid rgb(170, 175, 236);
    z-index: 10;

    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.18);
}

.underlineOnOpen {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
}

.removeBorder {
    border: none;
}